:root {
  --primary-color: lightblue;
  --secondary-color: lightgreen;
  --text-color: black;
  --bg-color: white;

  --default-color: var(--text-color);
  --default-bg: var(--bg-color);

  --active-color: var(--text-color);
  --active-bg: var(--primary-color);

  --disabled-color: white;
  --disabled-bg: lightgray;

  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;

  gap: 0.5rem;
}
